.Heading {
  font-family: Manrope;
  width: 100vw;
}

.Heading h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  text-align: center;
  line-height: 64px;
  padding-top: 80px;
}
.Heading p {
  font-style: normal;
  font-weight: 1;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  padding-top: 20px;
}
