@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
.Hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "txt img";
  margin-top: 2rem;
}

.mainText {
  grid-area: txt;
  padding-top: 15rem;
  padding-left: 15rem;
}
.img {
  grid-area: img;
  padding-left: 24rem;
}

h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  /* or 136% */

  font-feature-settings: "liga" off;

  /* Text / Gray 900 */

  color: #18191f;
}

button {
    margin-top: 2rem;
  background: #8c30f5;
  box-shadow: 15px 30px 60px #d6b1ff;
  border-radius: 8px;
  padding: 20px 64px;
  border: none;
  color: #fff;
  font-family: Manrope;
  font-style: normal;
  font-weight: 1;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  text-align: center;
  cursor: pointer;
}
button:hover{
  background: #9b43ff;

}