@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
.navbar {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-around;
}

.nav_links li,
a {
  text-decoration: none;
  list-style: none;
  display: inline;
  margin-left: 2rem;
  font-family: Manrope;
  font-style: normal;
  font-weight: 1;
  font-size: 14px;
  line-height: 20px;
  color: #18191f;
}
.nav_links a:hover{

  color: #75E3EA;
}

.logo {
  padding-left: 2.5rem;
}
